<!DOCTYPE html>
{% load cms_tags sekizai_tags %}

<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css"
          rel="stylesheet">
    <link href="{{ STATIC_URL }}css/styles.css"
          rel="stylesheet">
  </head>
  <body>
     {% cms_toolbar %}
      {% placeholder base_content %}
      {% block base_content %}{% endblock %}
      {% render_block "js" %}
    <h2>Blog Page</h2>
    <section id="content">
      {% block content %}

      {% endblock %}
    </section>
    <aside id="sidebar">
      <h3>Posts destacats</h3>
      {% block sidebar %}

      {% endblock %}
    </aside>
    <div class="clear"></div>
  </body>
</html>